{% extends "base.html" %}
{% block content %}
<div class="card">
    <h1>Welcome to My Portfolio</h1>
    <p>Hello! I'm <strong>Daniel Dubrovschi</strong> (also knows as <strong>DaniHere</strong>), a passionate coder, interested in anything to do with computers. Explore my achievements, hobbies, and get in touch!</p>
    <a href="achievements">
        <button>Go to Achievements</button>
    </a>
    
</div>

<script>
    function scrollToSection(sectionId) {
        const section = document.getElementById(sectionId);
        section.scrollIntoView({ behavior: 'smooth' });
    }
</script>
{% endblock %}
